.container {
    position: absolute;
    transform: translate(5%, 8%);
    width: 330px;
    height: 400px;
    border-radius: 15px;
    box-shadow:  0 0 30px rgba(126, 126, 126, .6);
    z-index: 10;
}