.form-container {
    position: relative;
    transform: translate(200%, 25%);
    width: 20vw;
    height: 630px;
    border-radius: 15px;
    box-shadow:  0 0 30px rgba(126, 126, 126, .7);
    z-index: 1;
}


