.form-container {
    position: relative;
    transform: translate(175%, 10%);
    width: 350px;
    height: 630px;
    border-radius: 15px;
    box-shadow:  0 0 30px rgba(126, 126, 126, .7);
    z-index: 1;
}


